NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_FUNDING_AGREEMENT_CONTRACT_ID=C...
MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/impact_protocol
MONGODB_DB=impact_protocol
